* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #000;
}

.modo-escuro a {
    color: #E0FFFF;
}